* {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #505050;
}

/*HEADER*/
header{
    border-bottom: solid 2px #b8b3b3;
    padding: 0px 0px 20px 10px;
}

/*MAIN*/
main{
    display: flex;
    padding: 20px 0px;
}

#menuesq{
    width: 30%;
    float: left;
    overflow: hidden;
}

#menuesq ul li{
    list-style: none;
    line-height: 30px;
}

#menuesq a{
    text-decoration: none;
    color: #505050;
}

#menuesq a:hover{
    color:black;
}

#entradas{
    box-sizing: border-box;
    width: 70%;
    padding: 0px 30px 30px 30px;
    border-left: solid 2px #b8b3b3;
}
 
#entradas img{
    width: 40%;
    float: right;
    padding: 60px 0px 0px 0px;
}

/*FOOTER*/
footer{
    display: flex;
    background-color: #b8b3b3;
    border-top: solid 4px #808080;
    width: 100%;
    height: 200px;
}

#imgfooter{
    display: block;
    padding: 10px 50px;
}

#imgfooter img{
    width: 40%;
}

#contato{
    color: white;
    display: block;
    position: absolute;
    right: 0;
    padding: 0 5%;
}

#contato a{
    text-decoration: none;
    color:white;
}

#contato a:hover{
    color:#808080
}